*{
    margin: 0%;
    padding: 0%;
}

body{
	background:url(/control_de_notas/images/fondojmj.jpg);
	font-family: 'Anton', sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

.tablae{
    margin-left: 300px;
    margin-top: 250px;
}

.tablai{
    margin-left: 380px;
    margin-top: 250px;
}

.tablao{
    margin-left: 480px;
    margin-top: 250px;
}

table{
    background-color: white;
    border-color: #000000;
    text-align: center;
}

.usuario{
    width: 250px;
}

.usuario{
    background-color: #7c7e7c;
    width: 180px;
    text-align: center;
}

.contrasena{
    background-color: #7c7e7c;
    width: 180px;
    text-align: center;
}